{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">Category</span>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{product.name}}</span>
      </h1>
        <img class="w-full rounded-lg" src="{{product.thumbnail.url}}" alt="" width="1310" height="873">
        
      
      <p class="mt-8 text-xl text-gray-500 leading-8">{{product.description}}</p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
    <p>$ {{product.price_display}}</p>
    </div>
</div>
<!-- This example requires Tailwind CSS v2.0+ -->
<div >
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Ready to dive in?</span>
      <span class="block text-indigo-600">compra ahora</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700">
          Buy Now
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block footer %}

{% endblock footer %}


{% block javascript %}

{% endblock javascript %}